{% extends 'base.html' %}


{% block title %}Game{% endblock %}

{% block heading %}Let's start the game!{% endblock %}

{% block content %}
    <form action="/madlib">
        Give me a name:
        <input type="text" name="person">
        <br>
        Choose a color:
        <select name="color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="lightblue">Light Blue</option>
        </select>
        <br>
        Choose a noun:
        <input type="checkbox" name="noun" value="apple">Apple
        <input type="checkbox" name="noun" value="baseball">Baseball
        <input type="checkbox" name="noun" value="chair">Chair
        <input type="checkbox" name="noun" value="bread">Bread
        <br>
        Choose an adjective:
        <input type="text" name="adjective">

        <br><input type="submit">
    </form>
{% endblock %}
